<li class="nav-item text-center ml-5">
  <p class="mb-0">Imagen</p>
  <div class="col">
    <div class="row">
      <button class="btn btn-outline-secondary col m-1"
        (click)="_setButtonActive(29);" [class.active]="buttonActive === 29">
        <i class="h4 fas fa-expand-arrows-alt mt-1"></i>
      </button>
      <button class="btn btn-outline-secondary col m-1"
        (click)="_setButtonActive(30);" [class.active]="buttonActive === 30">
        <i class="h4 fas fa-expand-arrows-alt mt-1"></i>
      </button>
      <button class="btn btn-outline-secondary col m-1"
        (click)="_setButtonActive(31);" [class.active]="buttonActive === 31">
        <i class="h4 fas fa-expand-arrows-alt mt-1"></i>
      </button>
      <button class="btn btn-outline-secondary col m-1"
        (click)="_setButtonActive(32);" [class.active]="buttonActive === 32">
        <i class="h4 fas fa-expand-arrows-alt mt-1"></i>
      </button>
    </div>
    <div class="row">
      <!--Rango para el ancho del trazodo-->
      <div class="mt-1 col">
        <h6>Ancho de sombra: </h6>

        <input #range name="range" type="range" class="custom-range" [min]="2"
          [max]="10">
      </div>
    </div>
  </div>
</li>