<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img src="favicon.ico" class="navbar-brand" alt="MyPaint">

  <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse ml-4" id="navbarTogglerDemo02">
    <ul class="navbar-nav text-white">
      <app-archivo (setButtonActive)="setbuttonActive($event)"
        [buttonActive]="buttonActive"></app-archivo>

      <app-imagen (setButtonActive)="setbuttonActive($event)"
        [buttonActive]="buttonActive"></app-imagen>

      <app-capa (setButtonActive)="setbuttonActive($event)"
        [buttonActive]="buttonActive"></app-capa>

      <app-herramientas (setButtonActive)="setbuttonActive($event)"
        [buttonActive]="buttonActive"></app-herramientas>

      <app-figuras (setButtonActive)="setbuttonActive($event)"
        [buttonActive]="buttonActive"></app-figuras>

      <app-sombra (setButtonActive)="setbuttonActive($event)"
        [buttonActive]="buttonActive"></app-sombra>
    </ul>
  </div>
</nav>