<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img src="favicon.ico" class="navbar-brand" alt="MyPaint">

  <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse ml-4" id="navbarTogglerDemo02">
    <ul class="navbar-nav text-white">
      <app-archivo></app-archivo>

      <app-imagen (setButtonActive)="setHerramientaActiva($event)"
        [herramientaActiva]="herramientaActiva"></app-imagen>

      <app-capa [herramientaActiva]="herramientaActiva"></app-capa>

      <app-figuras (setButtonActive)="setTrazoActivo($event)"
        [buttonActive]="trazoActivo"></app-figuras>

      <app-sombra></app-sombra>
    </ul>
  </div>
</nav>