<li class="nav-item text-center ml-5">
  <p class="mb-0">Herramientas</p>
  <div class="col">
    <div class="row">
      <button class="btn btn-outline-secondary col m-1"
        (click)="_setButtonActive(14);" [class.active]="buttonActive === 14">
        <i class="h5 text-warning fas fa-pen mt-1"></i>
      </button>

      <button class="btn btn-outline-secondary col m-1"
        (click)="_setButtonActive(15);" [class.active]="buttonActive === 15">
        <i class="h5 text-warning fas fa-eraser mt-1"></i>
      </button>
    </div>

    <div class="row">
      <button class="btn btn-outline-secondary col m-1"
        (click)="_setButtonActive(16);" [class.active]="buttonActive === 16">
        <i class="h5 text-warning fas fa-eye-dropper mt-1"></i>
      </button>

      <button class="btn btn-outline-secondary col m-1"
        (click)="_setButtonActive(17);" [class.active]="buttonActive === 17">
        <i class="h5 text-warning fas fa-paint-brush mt-1"></i>
      </button>
    </div>
  </div>
</li>