<li class="nav-item text-center ml-5">
  <p class="mb-0">Capas</p>
  <div class="col">
    <div class="row">
      <button class="btn btn-outline-secondary col m-1" (click)="moverCapa(10);"
        [disabled]="!isSelected">
        <i class="h3 text-white icon-front_sorting mt-1"></i>
      </button>
      <button class="btn btn-outline-secondary col m-1" (click)="moverCapa(11);"
        [disabled]="!isSelected">
        <i class="h3 text-white icon-transfer mt-1"></i>
      </button>
    </div>
    <div class="row">
      <button class="btn btn-outline-secondary col m-1" (click)="moverCapa(12);"
        [disabled]="!isSelected">
        <i class="h3 text-white icon-bring_to_front mt-1"></i>
      </button>
      <button class="btn btn-outline-secondary col m-1" (click)="moverCapa(13);"
        [disabled]="!isSelected">
        <i class="h3 text-white icon-send_to_back mt-1"></i>
      </button>
    </div>
  </div>
</li>