<div class="col ml-4 mr-4">
  <p class="mb-0">Opciones</p>
  <div class="row">
    <li class="nav-item">
      <i class="nav-link fas fa-save fa-2x"></i>
    </li>
    <li class="nav-item">
      <i class="nav-link fas fa-image fa-2x"> </i>
    </li>
  </div>

  <div class="row">
    <li class="nav-item">
      <i class="nav-link fas fa-arrow-alt-circle-left fa-2x"></i>
    </li>

    <li class="nav-item">
      <i class="nav-link fas fa-arrow-alt-circle-right fa-2x"> </i>
    </li>
  </div>
</div>