<li class="nav-item text-center ml-5">
  <p class="mb-0">Formas</p>
  <div class="col">
    <div class="row">
      <button class="btn btn-outline-secondary text-warning col m-1"
        (click)="_setButtonActive(1);" [class.active]="buttonActive === 1">
        <i class="h5 fas fa-pen mt-1"></i>
      </button>
      <!-- pincel
      <button class="btn btn-outline-secondary col m-1"
        (click)="_setButtonActive(2);" [class.active]="buttonActive === 2">
        <i class="h5 text-primary fas fa-eye-dropper mt-1"></i>
      </button> -->

      <button class="btn btn-outline-secondary col m-1"
        (click)="_setButtonActive(3);" [class.active]="buttonActive === 3">
        <i class="h3 icon-line mt-1"></i>
      </button>

      <button class="btn btn-outline-secondary col m-1"
        (click)="_setButtonActive(4);" [class.active]="buttonActive === 4">
        <i class="h3 icon-circle mt-1"></i>
      </button>

      <button class="btn btn-outline-secondary col m-1"
        (click)="_setButtonActive(5);" [class.active]="buttonActive === 5">
        <i class="h3 icon-oval mt-1"></i>
      </button>

      <button class="btn btn-outline-secondary col m-1"
        (click)="_setButtonActive(6);" [class.active]="buttonActive === 6">
        <i class="h3 icon-rectangular mt-1"></i>
      </button>

      <button class="btn btn-outline-secondary col m-1"
        (click)="_setButtonActive(7);" [class.active]="buttonActive === 7">
        <i class="h3 icon-rectangular mt-1"></i>
      </button>
    </div>
    <div class="row">
      <button class="btn btn-outline-secondary col m-1"
        (click)="_setButtonActive(8);" [class.active]="buttonActive === 8">
        <i class="h3 icon-rhombus mt-1"></i>
      </button>

      <button class="btn btn-outline-secondary col m-1"
        (click)="_setButtonActive(9);" [class.active]="buttonActive === 9">
        <i class="h3 icon-pentagon mt-1"></i>
      </button>

      <button class="btn btn-outline-secondary col m-1"
        (click)="_setButtonActive(10);" [class.active]="buttonActive === 10">
        <i class="h3 icon-hexagon mt-1"></i>
      </button>

      <button class="btn btn-outline-secondary col m-1"
        (click)="_setButtonActive(11);" [class.active]="buttonActive === 11">
        <i class="h3 icon-octagon mt-1"></i>
      </button>

      <button class="btn btn-outline-secondary col m-1"
        (click)="_setButtonActive(12);" [class.active]="buttonActive === 12">
        <i class="h3 icon-polygon mt-1"></i>
      </button>

      <button class="btn btn-outline-secondary col m-1"
        (click)="_setButtonActive(13);" [class.active]="buttonActive === 13">
        <i class="h3 icon-triangle mt-1"></i>
      </button>
    </div>
  </div>
</li>