<li class="nav-item text-center ml-5">
  <p class="mb-0">Formas</p>
  <div class="col">
    <div class="row">
      <button class="btn btn-outline-secondary col m-1"
        (click)="_setButtonActive(18);" [class.active]="buttonActive === 18">
        <i class="h3 icon-line mt-1"></i>
      </button>

      <button class="btn btn-outline-secondary col m-1"
        (click)="_setButtonActive(19);" [class.active]="buttonActive === 19">
        <i class="h3 icon-circle mt-1"></i>
      </button>

      <button class="btn btn-outline-secondary col m-1"
        (click)="_setButtonActive(20);" [class.active]="buttonActive === 20">
        <i class="h3 icon-oval mt-1"></i>
      </button>

      <button class="btn btn-outline-secondary col m-1"
        (click)="_setButtonActive(21);" [class.active]="buttonActive === 21">
        <i class="h3 icon-rectangular mt-1"></i>
      </button>

      <button class="btn btn-outline-secondary col m-1"
        (click)="_setButtonActive(22);" [class.active]="buttonActive === 22">
        <i class="h3 icon-rectangular mt-1"></i>
      </button>

      <button class="btn btn-outline-secondary col m-1"
        (click)="_setButtonActive(23);" [class.active]="buttonActive === 23">
        <i class="h3 icon-rhombus mt-1"></i>
      </button>
    </div>
    <div class="row">
      <button class="btn btn-outline-secondary col m-1"
        (click)="_setButtonActive(24);" [class.active]="buttonActive === 24">
        <i class="h3 icon-pentagon mt-1"></i>
      </button>

      <button class="btn btn-outline-secondary col m-1"
        (click)="_setButtonActive(25);" [class.active]="buttonActive === 25">
        <i class="h3 icon-hexagon mt-1"></i>
      </button>

      <button class="btn btn-outline-secondary col m-1"
        (click)="_setButtonActive(26);" [class.active]="buttonActive === 26">
        <i class="h3 icon-octagon mt-1"></i>
      </button>

      <button class="btn btn-outline-secondary col m-1"
        (click)="_setButtonActive(27);" [class.active]="buttonActive === 27">
        <i class="h3 icon-polygon mt-1"></i>
      </button>

      <button class="btn btn-outline-secondary col m-1"
        (click)="_setButtonActive(28);" [class.active]="buttonActive === 28">
        <i class="h3 icon-triangle mt-1"></i>
      </button>
    </div>
  </div>
</li>